@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Poppins", sans-serif;
  font-family: "Quicksand", sans-serif;
  /* line-height: 1.5; */
  font-weight: 400;

  /* color-scheme: light dark; */
  color: rgba(0, 0, 0, 0.87);
  background-color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* -webkit-text-size-adjust: 100%; */
}

* {
  margin: 0;
  ::-webkit-scrollbar {
    background-color: rgb(255, 172, 141);
    width: 7px;
    border-radius: 30px;
  }
  ::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background-color: #f47d31;
  }
}
